<!DOCTYPE html>
<html>
<head>
	<title>Juni.ro</title>
	<!-- Latest compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="css/main.css">
    
	<link rel="stylesheet" type="text/css" href="fileupload/fileupload.css">
	<link rel="stylesheet" type="text/css" href="menu/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script data-require="ui-bootstrap@*" data-semver="0.13.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>

	<script type="text/javascript">
		//global variables
		var app = angular.module('myApp', []);
		var Username;
		var pictureURL;
		let curent_post = 1; // this will count at which post we scrolled, so that we can know how to refresh the timeline
		var connected;
		let urlParams = new URLSearchParams(window.location.search);
		let id = urlParams.get('id');
		
		/*add this to all main pages !!*/
		var setupTime = localStorage.getItem('CookieSetupTime');
		console.log(setupTime);
		var now = new Date().getTime();
		if(now-setupTime > 2*60*60*1000 || setupTime==undefined) { // 2 hours * 60 minutes * 60 seconds * 1000 mili
			localStorage.clear()
		}
		
		
		function curentdate(){
			var currentdate = new Date(); 
			var datetime = (   currentdate.getMonth()+1)  + "/"
								+currentdate.getDate() + "/"+
			                + currentdate.getFullYear() + "  "  
			                + currentdate.getHours() + ":"  
			                + currentdate.getMinutes() + ":" 
			                + currentdate.getSeconds();
			                
			                return datetime;
		};
		//window.alert(curentdate());

		console.log(localStorage.getItem("token"));
		console.log(localStorage.getItem("userID"));
		if(localStorage.getItem("token")!=undefined && localStorage.getItem("userID")!=undefined){
			var connected = true;
			$.ajax({
		    beforeSend: function(xhrObj){
		        xhrObj.setRequestHeader("Content-Type","application/json");
		        xhrObj.setRequestHeader("Accept","application/json");
		        xhrObj.setRequestHeader("Authorization","Bearer "+ localStorage.getItem("token"));
		    },
		    type: "GET",
		    url: "  http://localhost:5000/api/profile/me",       
		    // data: jsonStrJson,               
		    dataType: "json",
		    success: function(data){
		       console.log(data);
		       Username = data["firstName"] +" "+ data["lastName"];
		       window.alert(Username);
		       if(data["pictureURL"] != null)
		       		 pictureURL = data["pictureURL"];
		       	else pictureURL = "https://www.bspmediagroup.com/event/img/logos/user_placeholder.png";
		       //var json = JSON.parse(data);
		       //console.log(json["auth_token"]);
		    }
		});


		}
		else{
			connected = false;
		}
	</script>

	<script type="text/javascript" src="controllers/NAV.js"></script>
	<script type="text/javascript" src="controllers/BlogPosts.js"></script>
	<script type="text/javascript" src="controllers/NewsFeed.js"></script>
    <script type="text/javascript" src="controllers/RightCTRL.js"></script>
    <script type="text/javascript" src="menu/script.js"></script>
</head>
<body  ng-app="myApp">


<nav ng-controller="NAVCTRL" class="topnav mobile-show" id="myTopnav" style="z-index: 9999;">
	<a href="#" class="active">Junimea</a>
	  <!--
	  <a href="#">HOT</a>
	  <a href="#">Trending</a>
	  <a href="#">Fresh</a>-->
	  
	  
	<a href="javascript:void(0);" onclick="NightMode()">
		Toggle Night Mode
	</a>
	<a href="javascript:void(0);" ng-if="user_connected!=false" data-toggle="modal" data-target="#myModal" onclick="myFunction()">Posteaza</a>
	<a href="../MyProfile/Profile.html" ng-if="user_connected!=false" >My Profile</a>
	<a href="#" data-toggle="modal" ng-if="user_connected!=false" data-target="#ReportsModal">Tickete Support</a>
	<a href="javascript:void(0);" class="icon" onclick="myFunction()">
		<i style="color: white;" class="fa fa-bars"></i>
	</a>	
	<a ng-if="user_connected==false" href="../LogIn/index.html" >
		Log In
	</a>

</nav>


<nav ng-controller="NAVCTRL" class="navbar navbar-inverse mobile-hide" style="height: 70px; margin-bottom:0px;">
  <div class="container">
    <div class="navbar-header mobile-hide">
      <a class="navbar-brand" href="#" style="padding-top: 0px;">
      	<table style="width: 50px; height: 40px;">
      		<tr style="width: 50px; height: 40px;">
      			<td><img src="https://www.iqool.ro/wp-content/uploads/2016/06/junimea-logo.png" width="40px"></td>
      			<td><h1 style="color:white;">JUNIMEA</h1></td>
      		</tr>
      	</table>
      </a>
    </div>
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><input type="text" name="search" class="animatedsearch" placeholder="Search.."></li>-->
    </ul>
     <ul class="nav navbar-nav navbar-right mobile-hide">
     	
		<!--
		<li ng-if="user_connected!=false">
     		<button style="margin:15px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-fire" ></span>Posteaza</button>
     	</li>
		-->
		
		<li ng-if="user_connected!=false">
			<a href="javascript:void(0);" onclick="NightMode()" style="color:white; font-size:34px;">
				<i class="fa fa-moon-o" aria-hidden="true"></i>
			</a>
		</li>
		
		<li ng-if="user_connected!=false">
			<a href="https://www.facebook.com/www.juni.ro/" style="color:white; font-size:34px;">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
			</a>
		</li>
		
     	<li ng-if="user_connected!=false" >
        	
        	<div class="dropdown">
			  <span class="dropdown-toggle" data-toggle="dropdown" >
				<font style="color: white;">{{UserName}}</font>
			  	
			  	<img ng-src="{{Image}}" class="img-circle" alt="Profile Pic" width="40" height="40" style="margin: 15px;" >

			  </span>
			  	
			  <ul class="dropdown-menu" style="min-width: 260px;">
			    <li><a href="../MyProfile/Profile.html" target="_blank" >My Profile</a></li>
			    <li><a href="#" data-toggle="modal" data-target="#ReportsModal">Tickete Support</a></li>
			    <li><a href="#">Log Out</a></li>
			  </ul>
			</div>
        </li>
        
		
        <li ng-if="user_connected==false">
		
			<a style="color:white" href="../LogIn/index.html" class="btn btn-primary" >
				Log In
			</a>
     	
        </li>
        

      </ul>
  </div>
</nav>


<div class="container" style="height:100%;">
	<div class="col-md-3 full-row-grey mobile-hide" id="leftContainer" ng-controller="BlogPosts" >
		
			
			
	
		<div style="height: 90%; overflow-y: scroll; margin-top:35px;">
			<center>
				<div class="card">
				  <img class="card-img-top" ng-src="{{postari_blog[0]['Imagine']}}" width="100%" alt="Card image">
				  <div class="card-body">
				    <h4 class="card-title">{{postari_blog[0]["titlu"]}}</h4>
				    <!--<p class="card-text">Some example text.</p>
				    <a href="#" class="btn btn-primary">See Profile</a>-->
				  </div>
				</div>

				<div class="card">
				  <img class="card-img-top" ng-src="https://marketingland.com/wp-content/ml-loads/2017/09/galaxy-S8-screen-capture-800x450.png" width="100%" alt="Card image">
				  <div class="card-body">
				    <h4 class="card-title">Reclama</h4>
				    <!--<p class="card-text">Some example text.</p>
				    <a href="#" class="btn btn-primary">See Profile</a>-->
				  </div>
				</div>

				<div class="card">
				  <img class="card-img-top" ng-src="{{postari_blog[1]['Imagine']}}" width="100%" alt="Card image">
				  <div class="card-body">
				    <h4 class="card-title">{{postari_blog[1]["titlu"]}}</h4>
				    <!--<p class="card-text">Some example text.</p>
				    <a href="#" class="btn btn-primary">See Profile</a>-->
				  </div>
				</div>



			</center>
		</div>

	</div>

	<div class="col-md-6 full-row-white-scroll" id="feed" ng-controller="NewsFeed"  data-ng-init="init()" style="overflow-y: scroll;">
		<center>
			
				
			<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog modal-lg" >

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Modal Header</h4>
				      </div>
				      <div class="modal-body">
					  
					  
						<!--<img src="" alt="Image preview..." id="image">

						
						<canvas id="canvas" height=500 width=500></canvas>-->
						<br />
						
						
						
						
						<form id="memepost">
							<div class="form-group">
							  <input type="text" name="PostTitle" style="width: 70%;" class="form-control" id="PostTitle" placeholder="Pune un titlu original, nu O.C." required>
							</div>
							<div class="form-group">
								<textarea name="Description"  class="form-control" id="Description" style="width: 70%; min-height: 120px;" placeholder="scrie o mica descriere" required></textarea>
							</div>
							<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label  for="fileupload" style="padding:20px; width:100%; font-size:20px; color:white; border-radius:15px; background-color:#1a3d5c;;">
										Adauga Fisiere
									</label>
									<input type="file" style="visibility:hidden;" id="fileupload" multiple><br>
								</div>
								<div class="col-md-6">
									<button type="submit" class="btn" style="padding:20px; font-size:20px; width:100%; color:white; border-radius:15px; background-color:#1a3d5c;" onclick="PostMeme()">
										<b>Posteaza</b>
									</button>
								</div>
							</div>
								
								
							</div>
							<div >
								
									<div class="row" id="UploadPreview">
										
										
									</div>
		
							</div>
							
							<input type="text" name="Files" style="visibility:hidden;" id="imgSrc">
							<br />
							
							<center>
								
							</center>
							
						</form>
							
						<div style="width:100%; display:none" id="uploadSpinner">
							<center>
								<h1>Uploading...</h1>
								<img class="spinner" style="width:60%;" src="https://www.iqool.ro/wp-content/uploads/2016/06/junimea-logo.png">
								
							</center>
						</div>	
						
						
						
						
						
					  
				      	<!--<form id="memepost" onsubmit="PostMeme()">
				        	<div ng-if="connected!=false" id="posteaza_div" style="border-bottom: 1px solid black;">
							<table style="width: 70%; height: 100px;">
								<tr style="width: 100%; height: 100px;">
									<td style="width:60px; height: 100px;">
									<img ng-src="{{UserPic}}" class="img-circle" alt="Cinque Terre" width="40" height="40">
									</td>
									<td style="height: 100px;">
										<h3>
											Postezi ca <i>{{UserName}}</i>
										</h3>
									</td>
								</tr>
							</table>

							<div class="form-group">
							  <input type="text" name="PostTitle" style="width: 70%;" class="form-control" id="PostTitle" placeholder="Pune un titlu original, nu O.C." required>
							</div>
							<div class="form-group">
								<textarea name="Description"  class="form-control" id="Description" style="width: 70%; min-height: 120px;" placeholder="scrie o mica descriere" required></textarea>
							</div>
							<div class="form-group" style="width: 100%;">
									   
									       
										   
												<p>Daca fisierul ales este mai mare de 1MB, va rugam sa folositi <a target="_blank" href="../image%20compress/index.html"> acest tool pentru a-l comprima</a></p>
									           
											   <div class="input-group image-preview">
									                <span class="input-group-btn">
									                    <button type="button" class="btn btn-default image-preview-clear" onclick="clearImage()">
									                        <span class="glyphicon glyphicon-remove"></span> Clear
									                    </button>
									                    <div class="btn btn-default image-preview-input">
									                        <span class="glyphicon glyphicon-folder-open"></span>
									                        <span class="image-preview-input-title">Alege un fisier</span>
															
		
									                        <input id="fileupload" onchange="addFilesToArray" type="file" accept="image/png, image/jpeg, image/gif, image/webp" name="Files" required multiple>
															
									                    </div>
									                    
									                </span>
									            </div>		    
									            <br>
									            <div id="dvPreview"></div>
							</div>
							<div class="form-group">
								<input type="submit" name="posteaza" class="btn btn-success" value="posteaza" style="float: right;">
							</div>	
							<h1><br></h1>	
							</div>
						</form>-->
					
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>

				
			<script type="text/javascript">
			/*	window.setInterval(function(){
				var data = $('#posteaza_div').find('.nicEdit-main').text();
        		console.log(data);}, 5000);	*/
			</script>
			<div ng-repeat="post in feed['result'] track by $index" style="width:100%;">
				<div class="card advertising" style="width:70%;" ng-if="$index%5==0 && $index!=0" > 
					<!--<h4 class="card-title">Reclama</h4>-->
					<br>
					  <img class="card-img-top" src="https://i.ytimg.com/vi/nIRJMkcoTwc/maxresdefault.jpg" width="100%" alt="Card image">
					 <!-- <div class="card-body">
					   
					    <div style="text-align: left;"> 
					    	<font>180 points</font><font>40 comments</font>
					    	<br>
						    <button type="button" class="btn btn-default btn-sm">
					         	 <span class="glyphicon glyphicon-arrow-up"></span> Up
					        </button>
					        <button type="button" class="btn btn-default btn-sm">
					         	 <span class="glyphicon glyphicon-arrow-down"></span> Down
					        </button>
					        <button type="button" class="btn btn-default btn-sm">
					         	 <span class="glyphicon glyphicon-comment"></span> Comment
					        </button>
				    	</div>
					    <p class="card-text">Some example text.</p>
					    <a href="#" class="btn btn-primary">See Profile</a>
					  </div>-->
				</div>

				<div class="card postare" style="border-bottom: 1px solid #ceced4" > 
					<h4 ng-click="see_user(post['userId'])" class="card-title">
							<table style="width: 100%; height: 100px;">
								<tr style="width: 100%; height: 100px;">
									<td style="width:60px; height: 100px;">
									<img ng-src="https://www.bspmediagroup.com/event/img/logos/user_placeholder.png" class="img-circle" alt="Profile Pic" width="40" height="40">
									<!-- https://www.bspmediagroup.com/event/img/logos/user_placeholder.png
										<img ng-src="{{post['Autor_IMG']}}"  class="img-circle" alt="Profile Pic" width="40" height="40">
									-->
									</td>

									<td style="height: 100px;">

										<h3>
											 <font style="font-size: 15px; color: #080baf">{{post["firstName"] + ' '+post["lastName"]}}</font>
											<br>
											{{post["postTtile"]}}
											<br>
											 
										</h3>
										
											
										
									</td>
								</tr>
							</table>
						</h4>
						
						
							<font style="font-size:14px; float:left; margin-top:-20px;text-align: justify;text-justify: inter-word;">
								{{post["description"]}}
							</font>
						
							
					
					  
					  <div class="card-body">
						


					   <img ng-repeat="imagine in post['files']" class="card-img-top" ng-src="{{imagine['url']}}" ng-click="see_post(post['id'])" width="100%" alt="Card image">


					    <div style="text-align: left; color:#ceced4;"> 
					    	<font> <span id="{{'likeCount'+$index}}">{{post["likes"]}}</span>  points </font><font> <!--{{post["comments"]}} --> 0 comments</font>
					    	<br>
						    <button type="button" id="{{'upVote'+$index}}" class="btn btn-default btn-sm" ng-click="likepost(post['id'],1,$event,$index)">
					         	 <span class="glyphicon glyphicon-arrow-up"></span>
					        </button>
					        <button type="button" id="{{'downVote'+$index}}" class="btn btn-default btn-sm" ng-click="likepost(post['id'],-1,$event,$index)">
					         	 <span class="glyphicon glyphicon-arrow-down"></span>
					        </button>
					        <button type="button" class="btn btn-default btn-sm" ng-click="see_post(post['id'])">
					         	 <span class="glyphicon glyphicon-comment"></span>
					        </button>  
							
							


					        <!--<div class="dropdown" style="float: right;">
							  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							  	more
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
							    <li><a href="#">HTML</a></li>
							    <li><a href="#">CSS</a></li>
							    <li><a href="#">JavaScript</a></li>
							  </ul>
							</div>
					        
					        <button type="button" class="btn btn-danger btn-sm" ng-click="report_post(post['id'])" style="float: right;  "    data-toggle="modal" data-target="#report_modal">
					         	 <span class="glyphicon glyphicon-exclamation-sign"></span> Report
					        </button>
							
							<button type="button"  style="float: right;  " >
					         	
					        </button>
							-->
							<div class="dropdown" style="float: right;">
							  <button  class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
								<i class="fa fa-bars" aria-hidden="true"></i>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right">
								<li><a ng-click="CopyLink(post['id'])">Copy Link</a></li>
								<li><a ng-click="report_post(post['id'])" href="#">Report</a></li>
							  </ul>
							</div>
					        
				    	</div>
					    <!--<p class="card-text">Some example text.</p>
					    <a href="#" class="btn btn-primary">See Profile</a>-->
					    <br>
					  </div>
				</div>
			</div>
			
			<input type="text" id="CopyLinkHelper" style="display:none;" />
			
			<!-- Modal -->
			<div id="report_modal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Raporteaza o postare</h4>
			      </div>
			      <div class="modal-body">
			        <form ng-submit="reportSubmit()">
			        	<input type="text" name="PostId" id="reportID" class="form-control" >
			        	<br>
			        	<p>Scrie aici motivul pentru care raportezi postarea</p>
			        	<textarea class="form-control" rows="5" id="reportReason" name="Reason" placeholder="De ce vrei ba sa dai report ? ..." required></textarea>
			        	<br>
			     		
			        </form>
			        <button class="btn btn-danger" ng-click="reportSubmit()" >Raporteaza</button>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>
		</center>
	</div>







	<script type="text/javascript">
		/*$("#feed").on('scroll', function(){
    if( $("#feed").scrollTop() > $(document).height() - $("#feed").height() ) {
        //alert("Hello");
    }
}).scroll();*/
	</script>
	<div class="col-md-3 mobile-hide" style="height:90%; " ng-controller="RightCTRL" >
		
		
		
		
			
			<div style="width: 100%; height: 100%; margin-top:50px;">
						<img src="http://mgmarkham.com/wp-content/uploads/2014/10/GoJS-Vertical-Banner-Ads-160x600-green-MG-Markham-Design.png"
							alt="ads here"
							style="height:90%;"/>
					</div>
				<center>
					
					
					

					<div ng-if="1==0" style="width: 100%; height: 90%; margin-top:30px; overflow-y: scroll;">
						<div class="card">
						  <img class="card-img-top" ng-src="{{postari_blog[0]['Imagine']}}" width="100%" alt="Card image">
						  <div class="card-body">
						    <h4 class="card-title">{{postari_blog[0]["titlu"]}}</h4>
						    <!--<p class="card-text">Some example text.</p>
						    <a href="#" class="btn btn-primary">See Profile</a>-->
						  </div>
						</div>
						<div class="card">
						  <img class="card-img-top" ng-src="https://marketingland.com/wp-content/ml-loads/2017/09/galaxy-S8-screen-capture-800x450.png" width="100%" alt="Card image">
						  <div class="card-body">
						    <h4 class="card-title"><br></h4>
						    <!--<p class="card-text">Some example text.</p>
						    <a href="#" class="btn btn-primary">See Profile</a>-->
						  </div>
						</div>
						<div class="card" >
						  <img class="card-img-top" ng-src="{{postari_blog[1]['Imagine']}}" width="100%" alt="Card image">
						  <div class="card-body">
						    <h4 class="card-title">{{postari_blog[1]["titlu"]}}</h4>
						    <!--<p class="card-text">Some example text.</p>
						    <a href="#" class="btn btn-primary">See Profile</a>-->
						  </div>
						</div>



					</div>



				</center>
			
		
	</div>
</div>


<script type="text/javascript" src="fileupload/fileupload.js"></script>
    <script type="text/javascript" src="script.js"></script>  
<script type="text/javascript">
	
	var body = document.body;
	var aside = document.getElementById("leftContainer");
	
	if(localStorage.getItem("NightMode")=='true'){
		localStorage.setItem("NightMode", "true");
		body.style.backgroundColor="black";
		body.style.color="white";
		aside.style.backgroundColor="#222222";
		$('.postAuthor').css('color', 'white');
		$('.comment-table').css('background-color','black');
		$('.comment-table').css('color','#eff1f4');
		$('.modal-content').css('background-color','#222222');
	}else{
		localStorage.setItem("NightMode", "false");
		body.style.backgroundColor="white";
		body.style.color="black";
		aside.style.backgroundColor="#ededed";
		$('.postAuthor').css('color', '#080baf');
		$('.comment-table').css('background-color','#eff1f4');
		$('.comment-table').css('color','black');
		$('.modal-content').css('background-color','white');
	}
	
	
	function NightMode(){
		if(localStorage.getItem("NightMode")!='true'){
			localStorage.setItem("NightMode", "true");
			body.style.backgroundColor="black";
			body.style.color="white";
			aside.style.backgroundColor="#222222";
			$('.postAuthor').css('color', 'white');
			$('.comment-table').css('background-color','black');
			$('.comment-table').css('color','#eff1f4');
			$('.modal-content').css('background-color','#222222');
		}else{
			localStorage.setItem("NightMode", "false");
			body.style.backgroundColor="white";
			body.style.color="black";
			aside.style.backgroundColor="#ededed";
			$('.postAuthor').css('color', '#080baf');
			$('.comment-table').css('background-color','#eff1f4');
			$('.comment-table').css('color','black');
			$('.modal-content').css('background-color','white');
		}
	}

</script>
</body>
</html>